<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
            href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
            rel="stylesheet">

    <title>五零七租房网</title>
</head>
<body>
<a th:href="@{/user/login}">房主登陆</a>
<a th:href="@{/user/register}">房主注册</a>
<br>
<a th:href="@{/student/login}">学生登陆</a>
<a th:href="@{/student/register}">学生注册</a>
</body>
</html>