<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
            href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
            rel="stylesheet">
    <style>
        /*web background*/
        .container {
            display: table;
            height: 100%;
        }
    </style>
    <title>我的消息列表</title>
</head>
<body>
<div class="container">
    <div class="col-md-6 col-offset-3">
        <h1>所有房屋</h1>
        <table border="1">
            <tr>
                <th>序号</th>
                <th>地址</th>
                <th>详情</th>
                <th>价格</th>
                <th>类型</th>
                <th>人数</th>
                <!--<th>房屋ID</th>-->
                <th>发表时间</th>
            </tr>
            <tr th:each="house:${houseList}">
                <td th:text="${houseStat.index}+1">编号</td>
                <td th:text="${house.address}">地址</td>
                <td th:text="${house.detail}">详情</td>
                <td th:text="${house.price}">价格</td>
                <!--<td th:text="${house.id}">房屋ID</td>-->
                <td th:text="${house.type}">类型</td>
                <td th:text="${house.pnum}">人数</td>
                <td th:text="${house.postTime}">发送时间</td>
                <!--<td><a th:href="@{'/house/delete/'+${house.id}}">下架</a></td>-->
                <td><a th:href="@{'/student/r/'+${studentName}+'/'+${studentid}+'/'+${house.id}}">租房</a> </td>
            </tr>
        </table>
        <a th:href="@{'/student/'+${studentName}+'/'+${studentid}}">返回</a>
        <!--<a th:href="@{'/house/r/'+${userName}+'/'+${userid}}">我要出租房屋</a>-->
    </div>
</div>
</body>
</html>
