<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
            href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
            rel="stylesheet">
    <style>
        /*web background*/
        .container {
            display: table;
            height: 100%;
        }
    </style>
    <title>用户注册</title>
</head>
<body>
<div class="container">
    <div class="col-md-6 col-offset-3">
        <h1>注册</h1>
        <form class="form-horizontal" role="form" action="/user/register"
              th:action="@{/user/register}" th:object="${user}" method="post"
              th:method="post" enctype="multipart/form-data">



            <!--//用户名-->
            <div class="form-group row">
                <label for="userName" class="col-md-3 col-form-label"
                       th:classappend="${#fields.hasErrors('userName')}?'badge badge-danger'">用户名：</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="userName"
                           placeholder="请输入用户名"  th:field="*{userName}"
                           th:classappend="${#fields.hasErrors('userName')}?'text-danger'">
                </div>
            </div>
            <!--//密码-->
            <div class="form-group row">
                <label for="password" class="col-md-3 col-form-label"
                       th:classappend="${#fields.hasErrors('password')}?'badge badge-danger'">密码：</label>
                <div class="col-md-9">
                    <input type="password" class="form-control" id="password"
                           placeholder="请输入密码"  th:field="*{password}"
                           th:classappend="${#fields.hasErrors('password')}?'text-danger'">
                </div>
            </div>
            <!--地址-->
            <div class="form-group row">
                <label for="address" class="col-md-3 col-form-label"
                       th:classappend="${#fields.hasErrors('address')}?'badge badge-danger'">地址：</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="address"
                           placeholder="地址"  th:field="*{address}"
                           th:classappend="${#fields.hasErrors('address')}?'text-danger'">
                </div>
            </div>
            <!--电话-->
            <div class="form-group row">
                <label for="phone" class="col-md-3 col-form-label"
                       th:classappend="${#fields.hasErrors('phone')}?'badge badge-danger'">电话：</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="phone"
                           placeholder="请输入电话"  th:field="*{phone}"
                           th:classappend="${#fields.hasErrors('phone')}?'text-danger'">
                </div>
            </div>

            <div class="form-group row">
                <input class="btn btn-block" type="submit" value="注册" />
            </div>
        </form>
    </div>
</div>
</body>
</html>


